
body {
    margin: 0;
    font-family: 'Segoe UI';
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7171;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links li a {
    padding-right: 60px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.burger {
    display: flex;
}

.menu-burger-image {
    width: 40px;
    height: 30px;
}

.container{
    display: flex;
    height:100vh;
}
.child{
    flex:1;
}
.left{
    background: linear-gradient(to right, #FFF3B1, #FFBBE8);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.right{
    background-image: url("../images/pexels-robin-stickel-70497.jpg");
    background-size: cover;
}

.left-header {
    font-size: 44px;
    font-weight: 600;
}

.left-text {
    font-size: 18px;
    font-weight: 100;
}

#button {
    margin-top: 60px;
    background-color: #FF7171;
    color: white;
    border: none;
    width: 176px;
    height: 36px;
}

@media screen  and (max-width:768px){
    .container{
        flex-direction: column;
    }
    .nav-links {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .nav-active {
        display: flex;
        flex-direction: column;
    }

    .nav-active li {
        margin: 10px 0;
    }
}